@import "./reset.css";
@import "./fonts.css";
@import "./settings.css";
// color
$cw:#fff;
$clight:#f8f8f8;
$cblue:#0056b3;
$cred:#c0301c;
$cgrey:#555;
$clightgray:#777;
$cllgray:#ddd;
$cbglight:#d7d7d7;
// fonts
$Mont-Reg: "Montserrat-Regular", sans-serif;
$RobSl-Reg: "RobotoSlab-Regular", sans-serif;
.intro {
	background-image: url("../images/header/Home.jpg");
	background-size: cover;
	background-position: center bottom;
	height: 100vh;

}

.wrapper {
	max-width: 1170px;
	margin-left: auto;
	margin-right: auto;
	padding-left: 15px;
	padding-right: 15px;
	box-sizing: border-box;
	font-weight: 600;

}

header {
	padding: 39px 0;
}

header {
	& .wrapper {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
}

.logo {
	font-family: "Montserrat-Bold", sans-serif;
	font-weight: 600;
	font-size: 24px;
	color: $cw;
	letter-spacing: 1.2px;
	text-transform: capitalize;
	&:hover {
		color: $cblue;
	}
}

.nav {
	padding-right: 11px;
}

.nav {
	ul {
	display: flex;
	align-items: center;
	}
}
.nav {
	li {
	margin-left: 34px;
	
}
}
.nav {
	a {
	letter-spacing: 1px;
	color: $cw;
	font-family: $Mont-Reg;
	text-transform: capitalize;
		&:hover {
			color: $cblue;
		}
	}
	
}
.wr-intro {
	& .wrapper {
		display: flex;
		flex-direction: column;
		align-items: center;
		padding-top: 2px;
		color: $cw;

	}
}
.wr-intro {
	p {
	font-family: $Mont-Reg;
	font-size: 48px;
	text-transform: uppercase;
	letter-spacing: 1px;
	margin-bottom: 23px;
	padding-top: 260px;
	text-align: center;
	}
}
.wr-intro {
	h1 {
	font-size: 20px;
	font-weight: 400;
	text-transform: capitalize;
	letter-spacing: 1.4px;
	margin-bottom: 53px;

	}
}
.wr-intro {
	a {
	font-family: $Mont-Reg;
	font-size: 16px;
	text-transform: uppercase;
	color: $cw;
	border: 2px solid $cw;
	border-radius: 2px;
	padding: 15px 32px;
		&:hover{
			background-color: $cblue;
		}
	}
}
.section-title {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 70px;
}
.section-title {
	h3 {
	font-family: $Mont-Reg;
	font-size: 20px;
	color: $cgrey;
	text-transform: uppercase;
	margin-bottom: 26px;
	line-height: 1.2;
	
	}
}
.section-title {
	& .title-decor {
		width: 50px;
		height: 2px;
		background-color: $cgrey;
	}
}
.section-title {
	p {
	font-family: $RobSl-Reg;
	font-size: 16px;
	line-height: 1.5;
	letter-spacing: 1.1px;
	margin-top: 23px;
	font-weight: 400;
	}
}
.services {
	padding-top: 95px;
	padding-bottom: 100px;
}
.services-card-group {
	display: flex;
	justify-content: space-around;
}
.services-card {
	width: 350px;
	justify-content: center;
	align-items: center;
	margin: 0 45px;
	border: none;
	display: flex;
	flex-direction: column;
	img {
		width: 85px;
		height: 85px;
		margin-bottom: 30px;
	}
}
.services-card-svg {
	border-radius: 50%;
	border: 2px solid $cllgray;
	&:hover {
		background-color: $cred;
		cursor: pointer;
	}
	& .svg {
		width: 44px;
		height: 40px;
		color: $cred;
		padding: 17px;
		&:hover {
			color: $cw;
		}
	}
}
.card-img-top {
	width: 85px;
	height: 85px;
	margin-bottom: 30px;
}

.services-card-body {
	padding: 0px;
}

.services-card-body {
	h5 {
		display: flex;
		justify-content: center;
		align-items: center;
		font-family: $Mont-Reg;
		font-weight: 1000;
		font-size: 12px;
		color: $cgrey;
		text-transform: uppercase;
		margin-bottom: .75rem;
		padding-top: 30px;
	}
	p {
		font-family: $RobSl-Reg;
		text-align: center;
		font-size: 14px;
		line-height: 1.4;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		font-weight: 200;
	}
}
.slider {
	padding-top: 95px;
	padding-bottom: 100px;
	margin-left: auto;
	margin-right: auto;
	background: $clight;
	position: relative;
}
.slider-row {
	display: flex;
	margin-bottom: 75px;
	
}
.slider-row-text {
	font-family: $RobSl-Reg;
	font-size: 12px;
	line-height: 1.5;
	font-weight: 200;
	max-width: 50%;
	&:nth-child(1) {
		margin-right: 25px;
	}
}

.slider-image {
	position: relative;
	& .slick-arrow {
		position: absolute;
		top: 40%;
		z-index: 5;
		width: 38px;
		height: 35px;
		border: 0;
		overflow: none;
		background-color: #8f8f8f;
		&:hover {
			background-color: $cred;
		}
		
	}
}

.slick-arrow {
	&::after {
		content: "";
		display: block;
		width: 10px;
		height: 10px;
		position: absolute;
		top: 11px;
		transform: rotate(45deg);
	}
}
.slick-prev {
	left: 1px;
	&::before {
		content: "";
		display: none;
	}
	&::after {
		content: "";
		border-left: 3px solid $cllgray;
		border-bottom: 3px solid $cllgray;
		left: 15px;
	}
}
// .slick-prev.active {
// 	background-color: $cred
// }
.slick-next {
	right: 1px;
	&::before {
		content: "";
		display: none;
	}
	&::after {
		content: "";
		border-right: 3px solid $cllgray;
		border-top: 3px solid $cllgray;
		right: 14px;
	}
}
.slick-list {
	overflow: hidden;
}
.slick-track {
	display: flex;
	
}
.slider-item {
	text-align: center;
	h3 {
		font-family: $Mont-Reg;
		font-size: 14px;
		color: $cgrey;
		text-transform: uppercase;
		margin-top: 20px;
	}
	p {
		font-family: $RobSl-Reg;
		font-size: 12px;
		color: $cgrey;
		margin-top: 16px;
	}
}
.slider-container {
	position: relative;
	& .field {
		position: absolute;
		top: 0;
		left: 0;
		width: 110%;
		height: 100%;
		background-color: rgba(0, 0, 0, .5);
		opacity: 0;
	}
}
	
.slick-slide {
	&:hover .field {
		opacity: 1;
		transition: all .6s;
		cursor: pointer;
	}
}
.slider-social-icons {
	display: flex;
	align-items: center;
	justify-content: center;
	padding-top: 210px;
	& svg {
		width: 17px;
		height: 17px;
		color: $cw;
		margin: 0 7.5px;
	}
	& a {
		background-color: transparent;
		padding: 5px 0;
		&:hover {
			background-color: $cred;
			}
	}
}
.works {
	padding-top: 95px;
	padding-bottom: 100px;
}
.works-list {
	display: flex;
	align-items: center;
	margin-top: 30px;
	& li {
		margin-left: 30px;
		list-style-type: none;
	}
	& a {
		font-family: $RobSl-Reg;
		font-size: 14px;
		letter-spacing: 1px;
		color: $cgrey;
		text-transform: capitalize;
			&:hover {
				color: $cred;
				cursor: pointer;
			}
	}
}
.works-wrapper {
	height: 1020px;
	display: flex;
	justify-content: space-between;
	flex-direction: column;
}
.works-row {
	display: flex;
	justify-content: space-between;
	 & .works-img:nth-child(2) {
		margin: 0 30px;
	 }
}
.works-img {
	max-width: 100%;
	position: relative;
	overflow: hidden;
		&:hover .works-block {
			opacity: 1;
			// cursor: pointer;
		}
}
.works-block {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(201, 100, 86, 0.9);
	opacity: 0;
	transition: all .6s;
	h5 {
		font-family: $Mont-Reg;
		font-size: 14px;
		color: $cw;
		letter-spacing: 1px;
		margin-bottom: 18px;
	}
	p {
		font-family: $RobSl-Reg;
		font-size: 11px;
		color: $cw;
		letter-spacing: 1px;
		margin-bottom: 30px;
	}
}
.works-block-container {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
}
.works-btn {
	display: flex;
	a {
		font-family: $RobSl-Reg;
		font-size: 12px;
		font-weight: 300;
		color: $cred;
		background-color: $cw;
		padding: 15px 30px 15px 20px;
		outline: none;
		position: relative;
		margin-left: 10px;
		&::after {
			content: "";
			display: block;
			width: 7px;
			height: 7px;
			position: absolute;
			top: 18px;
			transform: rotate(45deg);
			border-right: 1px solid $cred;
			border-top: 1px solid $cred;
			right: 14px;
		}

	}
	svg {
		color: $cred;
		width: 7px;
		height: 11px;
		margin-left: 12px;
		position: absolute;
		top: 17px;
		left: 55px;
	}
}
.project {
	background-image: url("../images/project/red.jpg");
	background-size: cover;
	height: 370px;
	
}
.project-wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding-top: 100px;
	margin: 0 auto;
		h3 {
			font-family: $RobSl-Reg;
			font-size: 24px;
			color: $cw;
			font-weight: 300;
			&:nth-child(1) {
				margin-bottom: 20px;
			}
			&:nth-child(2) {
				margin-bottom: 53px;
			}
		}
		a {
			font-family: $RobSl-Reg;
			font-size: 14px;
			font-weight: 300;
			line-height: 1;
			color: $cw;
			padding: 16px 25px;
			border: 2px solid $cw;
			border-radius: 2px;
			text-transform: uppercase;
			&:hover {
				background-color: $cred;
			}
		}
}
.posts {
	padding-top: 95px;
	padding-bottom: 100px;
}
.posts-container {
	display: flex;
	position: relative;
	
	img {
		max-width: 460px;
		height: auto;
		overflow: hidden;
	}
}
.posts-container.first {
	margin-bottom: 38px;
}
.posts-container.second {
	margin-top: 38px;
}
.post-decor {
	border-bottom: 2px solid $cllgray;
	width: 100%;
}
.posts-block {
	padding-left: 40px;
	position: relative;
}
.calendar-block {
	display: flex;
}
.calendar {
	width: auto;
	height: auto;
	border: 2px solid $cgrey;
	padding: 18px 20px;
	display: inline-block;
	text-align: center;
	& .calendar-days {
		font-family: "Montserrat-Bold", sans-serif;
		color: $clightgray;
		&:first-child {
			font-size: 18px;
			margin-bottom: 10px;
		}
		&:last-child {
			font-size: 11px;
			margin-bottom: 0;
			text-transform: uppercase;
		}
	}
}
.posts-block-title {
	margin-left: 26px;
	h5 {
		font-family: $Mont-Reg;
		font-style: 12px;
		color: $cgrey;
		text-transform: uppercase;
		margin-bottom: 20px;
		padding-top: 15px;
		&:hover {
			color: $cred;
			cursor: pointer;
		}
	}
	p {
		font-family: $RobSl-Reg;
		font-size: 11px;
		color: $clightgray;
		font-style: italic;
	}
	span {
		&:hover {
			color: $cred;
			cursor: pointer;
		}
		
	}
}
.posts-block-title-title {
	p {
		font-family: $RobSl-Reg;
		font-size: 12px;
		color: $cgrey;
		line-height: 1.6;
		margin-bottom: 37px;
		margin-top: 23px;
	}
	h3 {
		font-family: "RobotoSlab-Bold", sans-serif;
		font-size: 11px;
		color: $clightgray;
		text-transform: uppercase;
		&:hover {
			color: $cred;
			cursor: pointer;
		}
}
}
.slider-image-wrapper {
	max-width: 1140px;
	margin: 0 auto;
	overflow: hidden;
}
.slick-slide {
	margin: 0 30px;
}
.slick-list {
	margin-left: -30px;
	margin-right: -30px;
}
.slider-text {
	padding-top: 100px;
	padding-bottom: 100px;
	background-color: $clight;
	background-size: cover;
}
.slider-text-link {
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	margin-bottom: 70px;
	position: relative;
	 & a:hover .slider-span {
		 opacity: 1;
		
	}
}

.slider-text-item {
	text-align: center;
	
	p {
		font-family: $RobSl-Reg;
		font-size: 15px;
		color: $cgrey;
		font-weight: 400;
		font-style: italic;
		margin-bottom: 42px;
	}
	h3 {
		font-family: $RobSl-Reg;
		font-size: 17px;
		color: $cgrey;
		font-weight: 400;
		margin-bottom: 40px;
	}
}
.slider-text-slider {
	margin: 0 130px;
	& .slick-dots {
		display: flex;
		align-items: center;
		justify-content: center;
		& .slick-active button {
			background-color: $cred;
		}
		& li {
			list-style: none;
			margin: 0 3.5px;
			& button {
				width: 13px;
				height: 13px;
				background-color: $cllgray;
				border-radius: 50%;
				&::before {
					display: none;
				}
			}
		}
	}
	& .slick-arrow {
		&::after {
			content: "";
			display: none;
		}
	}
}
.get {
	padding-top: 95px;
	padding-bottom: 100px;
}
.get-contact-item {
	display: flex;
	svg {
		width: 15px;
		height: 20px;
		&:hover {
			color: $cblue;
			transition: all .6s;
		}
	}
}
.get-contact-item-container {
	margin-left: 15px;
	margin-bottom: 30px;
	h6 {
		font-size: 11px;
		color: $cgrey;
		text-transform: uppercase;
		font-weight: 400;
		margin-bottom: 20px;
		
	}
	p {
		font-family: $RobSl-Reg;
		font-size: 11px;
		color: $cgrey;
		margin-bottom: 10px;
		&:hover {
			color: $cblue;
		}
	}
}
.get-contact {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.form {
	width: 65%;
}
.form-group {
	display: flex;
	justify-content: space-between;
	
}
.form-input {
	padding: 16px 0 16px 16px;
	margin-bottom: 20px;
	width: 100%;
	&:nth-child(2) {
		margin-left: 30px;
	}
	&:focus {
		border: 2px solid $cred;
	}
}
.form-block {
	display: flex;
	flex-direction: column;
	& .form-input {
		width: 30%;
	}
}
.textarea {
	padding: 16px 0 0 16px;
	margin-bottom: 20px;
	resize: none;
	&:focus {
		border: 1px solid $cred;
	}
}
.form-input.block {
	margin-left: 0;
	margin-right: 20px;
}
.form-block-container {
	display: flex;
	p {
		margin-top: 20px;
		& span {
			color: $cred;
		}
	}
}
.footer {
	padding-top: 100px;
	padding-bottom: 100px;
	background-color: $cred;
}
.footer-container {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.footer-row {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: 30px;
	svg {
		width: 16px;
		height: 14px;
		color: $cw;
		border: 2px solid $cw;
		border-radius: 50%;
		padding: 8px;
		margin: 0 7.5px;
		&:hover {
			color: $cblue;
			border: 2px solid $cblue;
			// transform: scale(1.1);
			// transition: .3s;
		}
	}
}
.title-decor {
	width: 50px;
	height: 2px;
	background-color: $cw;

}
.footer-items {
	text-align: center;
	p {
		font-size: 10px;
		color: $cw;
		font-weight: 400;
		margin-top: 30px;
	}
}
.menu-open {
	background: none;
	border: none;
	display: none;

	& svg {
		width: 25px;
		height: 25px;
	}

}
.menu-open {
	background: none;
	border: none;
	display: none;

	& svg {
		width: 25px;
		height: 25px;
	}

}
.header {
	& .show-menu {
		display: block;
		position: absolute;
		right: 30px;
		top: 80px;

		& li {
			margin-bottom: 10px;
		}

	}
}
@media screen and(max-width:1024px) {
	.slick {
		max-width: 1024px;
	}
	.slick-slide {
		margin: 0 40px;
	}
	.slick-list {
		margin-left: -40px;
		margin-right: -40px;
	}
.slider-social-icons {
	a {
	left: 50px;
	&:nth-child(2) {
		left: 80px;
	}
	&:nth-child(3) {
		left: 110px;
	}
	&:nth-child(4) {
		left: 140px;
	}
	}
}
.slider-container {
	& .field {
		width: 96%;
	}
}
.works-wrapper {
	height: 1000px;
}
.works-row {
	& .works-img:nth-child(2) {
		margin: 0 15px;
	}
}
}
@media screen and(max-width:991px) {
	
	.slider-container {
		& .field {
			width: 100%;
		}
	}
	.works-wrapper {
		height: auto;
	}
	.works-row {
		margin-bottom: 15px;
	}
	.works-img {
		img {
			object-fit: cover;
			width: 100%;
			
		}
	}
	.posts-block {
		width: 55%;
	}
	.posts-container {
		img {
			object-fit: cover;
			width: 100%;
			height: 100%;
		}
	}
}
@media screen and(max-width:768px) {
	.nav ul {
		display: none;
	}
	.menu-open {
		display: block;
		position: relative;
	}
	.nav {
		padding-right: 0;
		li {
			margin-left: 24px;
		}
	}
	.slick-slide {
		margin: 0 50px;
	}

	.slick-list {
		margin-left: -50px;
		margin-right: -50px;
	}
	.services-card {
		margin: 0 15px;
	}
	.works-wrapper {
		height: auto;
		
	}
	.works-row {
		flex-wrap: wrap;
		justify-content: center;
		margin-bottom: 0;
	}
	.works-img {
		img {
			margin-bottom: 15px;
		}
	}
	.posts-block {
		padding-left: 20px;
	}
	.calendar {
		padding: 10px;
	}
	.posts-block-title {
		h5 {
			padding: 0;
			margin-bottom: 15px;
		}
		
	}
	.posts-block {
		width: 55%;
	}
	.posts-block-title-title {
		p {
			margin-bottom: 10px;
			margin-top: 10px;
		}
	}
	.posts-container {
		img {
			object-fit: cover;
			width: 100%;
			height: 100%;
		}
	}
	.slider-text-link {
		flex-wrap: wrap;
		img {
			margin: 0 15px;
		}
     
	}
}
@media screen and(max-width:576px) {

	.wr-intro {
		p {
			 padding-top: 160px;
		 }
		 h1 {
			 text-align: center;
		 }
	}
	.nav ul {
	display: none;
	}

	.menu-open {
		display: block;
		position: relative;
	}
	.section-title {
		margin-bottom: 30px;
		padding-top: 50px;
		p {
			text-align: center;
		}
	}
	.services-card-group {
		flex-direction: column;
		align-items: center;
	}
	.services-card {
		margin-bottom: 50px;
		width: 100%;
	}
	.slider-row {
		flex-direction: column;
		align-items: center;
	}
	.slider-row-text {
		max-width: 100%;
		text-align: center;
		&:nth-child(1) {
			margin-right: 0;
		}
		p {
			margin: 10px 0;
			
		}
	}
	.slider-container {
		& .field {
			width: 110%;
		}
	}
	.slick-slide {
		margin: 0 25;
	}
	.slick-list {
		margin-left: -25px;
		margin-right: -25px;
	}
	.slick-next {
		right: 4px;
	}
	.slick-prev {
		left: 24px;
	}
	.slider-image {
		padding-bottom: 60px;
		& .slick-arrow {
			top: 33%;
		}
	}
	.slider-row {
		margin-bottom: 50px;
	}
	.works-list {
		flex-wrap: wrap;
		justify-content: center;
		li {
			margin-left: 15px;
			margin-bottom: 10px;
		}
	}
	.works-row {
		& .works-img {
			&:nth-child(2) {
				margin: 0;
			}
		}
	}
	.project-wrapper {
		text-align: center;
		padding-top: 70px;
	}
	.get {
		padding-bottom: 50px;
	}
	.get-contact {
		display: flex;
		flex-direction: column;
	}
	.posts-wrapper {
		padding-bottom: 50px;
	}
	.posts-container {
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}
	.posts-block {
		width: 100%;
		padding-left: 0;
		text-align: center;
		margin-top: 20px;
	}
	
	.posts-block-title-title {
		p {
			margin-bottom: 20px;
			margin-top: 20px;
		}
	}
	.calendar-block {
		align-items: center;
		justify-content: center;
	}
	.slider-text {
		padding-top: 50px;
		padding-bottom: 50px;
			.slick-dotted {
				& .slick-slider {
					width: 100%;
				}
			}
		& .slick-list {
			margin: 0;
			align-items: center;
		}
	}
	.slider-text-link {
		flex-direction: column;
		margin-bottom: 50px;
		img {
			margin: 10px 0;
		}
	}
	.slider-text-slider {
		margin: 0;

	}

	.form {
		width: 90%;
		& .form-group {
			flex-direction: column;
			align-items: center;
			justify-content: center;
			& .form-input:nth-child(2) {
				margin-left: 0;
			}
		}
		.form-block {
			align-items: center;
			justify-content: center;
		}
		.form-block-container {
			flex-direction: column;
			align-items: center;
			justify-content: center;
		}
		.textarea {
			width: 100%;
		}

		.form-input {
			width: 100%;
		}
		.form-input.block {
			margin-right: 0;
		}
	}
}
